.spacer {
  flex: 1 1 auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-bar {
  background-color: black;
  padding: 20px 10px;
  position: relative;
}

.btn {
  margin: 10px;
  padding: 3px 2px;
  background-color: black;
  border: 0px solid white;
  cursor: pointer;
}

.btn:hover {
  color: darkorange;
  border-bottom: 1px solid darkorange;
}

.icon {
  background-color: black;
  color: white;

}


.app-name {
  color: white;
  margin: auto 10px;
  font-family: Monospaced;
  font-weight: bolder;
  font-size: 2em;
}

.link {
  text-decoration: none;
}

